{%extends "bootstrap/base.html"%}
{%import "bootstrap/wtf.html" as wtf%}
{%block content%}
{%include "header.html"%}


<!-- Content Row-->
<section class="container px-4 px-lg-5">
    <h1 class="header-text">Contact Me!</h1>
    <div class="row gx-4 gx-lg-5">

        <ul>
            <li><h1 class="home-header">Email: <a href="mailto:nikko.dote@gmail.com">nikko.dote@gmail.com</a></h1></li>
            <li><a href="https://www.linkedin.com/in/nikkodote/"><h1 class="home-header">LinkedIn</h1></a></li>

        </ul>


    </div>
</section>
</div>

{%include "footer.html"%}
{%endblock%}