{%extends 'bootstrap/base.html'%}
{%import 'bootstrap/wtf.html' as wtf%}

{%block content%}
{%include "header.html"%}

<div class="container center-form color">
    <div class="row">
        <!-- This is where the form will go -->
        <div class="center-form col-lg-6 form-font">
            <h1 class="post-title"> Powerpoint to Audio Converter </h1>
            <br>
            <!--          add flash messages-->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li style='color:#FF0000; font-weight: 700'>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <hr>
            <br>
            {{wtf.quick_form(form)}}
            <br>
            <hr>
            <br>
        </div>
        <div class="col-lg-4">
            <br>
            <br>
            <h3 class="home-h3"><br>
                <img class = "logo" src = "https://d1.awsstatic.com/logos/aws-logo-lockups/poweredbyaws/Powered-By_logo-horiz_RGB.87c70af8a8a34b68606524ade6261db083947a14.png">
                <br>
                Powered by AWS Polly and AWS S3.
                This app translates an input to Morse Code and vice versa.
                It's setup to predict if the input alphanumeric or in morse and will translate accordingly.
                The ambitious goal would be to translate sounds to words or vice versa.
            </h3>
        </div>
    </div>
</div>
</div>

{%endblock%}
