{%extends 'bootstrap/base.html'%}
{%import 'bootstrap/wtf.html' as wtf%}

{%block content%}
{%include "header.html"%}

<div class="container center-form color">
    <div class="row">
        <!-- This is where the form will go -->
        <div class="center-form col-lg-6 form-font">
            <h1 class="post-title"> Powerpoint to Audio Converter </h1>
            <br>
            <!--          add flash messages-->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li style='color:#FF0000; font-weight: 700'>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <hr>
            <br>
            {{wtf.quick_form(form)}}
            <br>
            <h3 class="home-h3"><em>Once you click the button,
                The process usually takes 30 seconds. Please wait...</em></h3>
            <hr>
            <br>
        </div>
        <div class="col-lg-4">
            <br>
            <br>
            <h3 class="home-h3"><br>
                <img class="logo"
                     src="https://d1.awsstatic.com/logos/aws-logo-lockups/poweredbyaws/Powered-By_logo-horiz_RGB.87c70af8a8a34b68606524ade6261db083947a14.png">
                <br>
                Powered by AWS Polly and AWS S3.
                <strong>LISTEN to your Powerpoint on the go.</strong> <br>
                This app converts Powerpoint files (.pptx / .pptm) to audio which opens up a lot
                of possibilities when it comes to learning, studying, preparing for presentations,
                or just for some background noise. Is uses AI services by Amazon AWS which
                gives you the choice to choose standard voices or with more natural sounding
                voice via "neural" engine. Just upload the file, hit the button and wait for the file
                to be downloaded (usually arounds 30 seconds). Enjoy and let me know what you think!

            </h3>
        </div>
    </div>
</div>
</div>

{%endblock%}
